.embla {
  max-width: 73.75rem;
  margin: auto;
  // --slide-height: 19rem;
  --slide-spacing: 2rem;
  --slide-size: 25%;

  &__viewport {
    overflow: hidden;
  }

  &__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  &__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  // &__play {
  //   background-color: transparent !important;
  //   border: 0 !important;
  //   padding: 0 !important;
  //   margin: 0 !important;
  //   color: $color-black !important;

  //   // 수정
  //   position: absolute;
  //   bottom: 32px;
  //   right: 20px;
  // }

  .ArrowLeftBtn,
  .ArrowRightBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  // 추가
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
  // max-width: 1200px;

  .ArrowLeftBtn {
    left: 20px;
  }

  .ArrowRightBtn {
    right: 20px;
  }

  .CarouselName {
    color: $color-black;
    @include font-24-Bold;
  }

  @include tablet {
    width: 100%;

    // overflow: hidden;
    --slide-size: 300px;
  }
}
