.embla {
  width: 100%;
  max-width: 75.5rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 20px;
  --slide-size: 300px;

  &__viewport {
    overflow: hidden;

    // 추가
    position: relative;
    padding: 16px;
  }

  &__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  &__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  .ArrowLeftBtn,
  .ArrowRightBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  .ArrowLeftBtn {
    left: 0;
  }
  .ArrowRightBtn {
    right: 0;
  }

  .CarouselName {
    color: $color-black;
    @include font-24-Bold;
    padding-left: 16px;
  }

  @include tablet {
    .ArrowLeftBtn,
    .ArrowRightBtn {
      display: none;
    }
  }

  @include mobile {
    --slide-spacing: 12px;
    --slide-size: 220px;

    &__viewport {
      padding: 8px;
    }

    .CarouselName {
      padding-left: 12px;
      @include font-20-Regular;
      font-weight: 600;
    }

    .ArrowLeftBtn,
    .ArrowRightBtn {
      display: none;
    }
  }
}
