.button {
  cursor: pointer;
  background-color: $color-white;
  border: 1px solid $color-gray-300;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  fill: rgba(255, 255, 255, 0.9);
  stroke-width: 1px;
  stroke: $color-gray-300;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
  backdrop-filter: blur(2px);

  flex-shrink: 0;

  &:disabled {
    cursor: not-allowed;
  }
}
