.inputInactive {
  border: 1px solid $color-gray-300;
}

.inputActive {
  border: 2px solid $color-gray-700;
}

.inputFocused {
  border: 2px solid $color-gray-700;
}

.inputDefalut:hover {
  border: 1px solid $color-gray-500;
}

.inputError {
  border: 1px solid $color-error;
}
.inputDefalut {
  display: flex;
  width: min(720px, 100% - 48px);
  padding: 12px 16px;
  align-items: center;
  outline: none;
  background: $color-white;
  border-radius: 8px;
}

.pError {
  color: $color-error;
  @include font-12-Regular;
  display: inline-block;
}
.pDefault {
  display: none;
}
