.input--inactive {
  border: 1px solid $color-gray-300;
}

.input--active {
  border: 2px solid $color-gray-700;
}

.input--focused {
  border: 2px solid $color-gray-700;
}

.input--hover {
  border: 1px solid $color-gray-500;
}

.input--error {
  border: 1px solid $color-error;
}
.input--defalut {
  display: flex;
  width: min(720px, 100% - 48px);
  padding: 12px 16px;
  align-items: center;
  outline: none;
  background: $color-white;
  border-radius: 8px;
}

.p--error {
  color: $color-error;
  @include font-12-Regular;
  display: inline-block;
}
.p--default {
  display: none;
}
