.button {
  @include font-16-Regular;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;

  &.normal {
    background-color: $color-white;
    border: 1px solid $color-gray-300;
    color: $color-gray-900;

    &:hover:enabled {
      background-color: $color-gray-100;
    }

    &:focus:enabled {
      border: 1px solid $color-gray-500;
    }
  }

  &.primary {
    background-color: $color-purple-600;
    border: 1px solid $color-gray-600;
    color: $color-white;

    &:hover:enabled {
      background-color: $color-purple-700;
      border: 1px solid $color-gray-700;
    }

    &:active:enabled {
      background-color: $color-purple-800;
      border: 1px solid $color-gray-800;
    }

    &:focus:enabled {
      background-color: $color-purple-800;
      border: 1px solid $color-purple-900;
    }
  }

  &.secondary {
    background-color: $color-white;
    border: 1px solid $color-purple-600;
    color: $color-purple-700;

    &:hover:enabled {
      background-color: $color-purple-100;
      border: 1px solid $color-purple-700;
    }

    &:active:enabled {
      border: 1px solid $color-purple-800;
    }

    &:focus:enabled {
      border: 1px solid $color-purple-800;
    }
  }

  &.shadow {
    fill: rgba(255, 255, 255, 0.9);

    stroke-width: 1px;
    stroke: $color-gray-300;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
    backdrop-filter: blur(2px);
  }

  &:disabled {
    background-color: $color-gray-300;
    color: $color-white;
  }
}
