.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 476px;
  flex-shrink: 0;
  padding: 40px;
  gap: 16px;

  @include mobile {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-gray-200;
  padding-bottom: 20px;
  width: 100%;
  overflow: hidden;

  & .info {
    display: flex;
    gap: 16px;

    & .profile {
      flex-shrink: 0;
    }

    & .infoText {
      display: flex;
      flex-direction: column;
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & .sender {
        @include font-20-Regular;
        width: 100%;

        & span {
          @include font-20-Bold;
          display: inline-block;
        }
      }
    }
  }

  & .time {
    @include font-14-Regular;
    color: $color-gray-400;
  }
}

.body {
  height: 240px;
  overflow-y: auto;
  padding-right: 16px;
  word-break: break-all;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-gray-300;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &.Noto-Sans * {
    font-family: 'Noto Sans', 'Noto Sans KR';
  }

  &.Pretendard * {
    font-family: 'Pretendard';
  }

  &.Nanum-Myeongjo * {
    font-family: 'Nanum Myeongjo';
  }

  &.Nanum-Pen-Script * {
    font-family: 'Nanum Pen Script';
    font-size: 20px;
  }
}

.footer {
  margin: 0 auto;
}
