.button {
  @include font-16-Regular;
  background-color: $color-gray-100;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 40px;
  padding: 0;

  & .switch {
    border: 2px solid $color-gray-100;
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &.active {
      @include font-16-Bold;
      background-color: $color-white;
      border: 2px solid $color-purple-600;
      color: $color-purple-700;
    }
  }
}
