/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

.rdw-option-wrapper {
  width: 24px !important;
  background-color: $color-gray-100 !important;
}

.rdw-option-disabled {
  display: none !important;
}

.rdw-editor-toolbar {
  background-color: $color-gray-100 !important;
  @include top;
}

a {
  text-decoration: none;
  color: black;
}

.notranslate {
  padding: 40px;
}
