.container {
  width: 1192px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: none;

  & .title {
    color: $color-black;
    @include font-24-Bold;
  }

  & .content {
    display: flex;
    gap: 24px;
    position: relative;
    align-items: center;

    & .arrowLeft,
    & .arrowRight {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: auto;
      border: 2px solid $color-gray-400;
      border-radius: 9999px;
      padding: 12px;
      fill: rgba(255, 255, 255, 0.9);
      stroke-width: 1px;
      stroke: #dadcdf;
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
      backdrop-filter: blur(2px);
    }

    & .arrowLeft {
      left: -20px;
    }
    & .arrowRight {
      right: -20px;
    }
  }
}
