.container {
  width: 1232px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;

  & .title {
    color: $color-black;
    @include font-24-Bold;
  }

  & .content {
    display: flex;
    column-gap: 24px;
    row-gap: 56px;
    position: relative;
    align-items: center;
    flex-wrap: wrap;

    & .leftBtn,
    & .rightBtn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }

    & .leftBtn {
      left: -20px;
    }
    & .rightBtn {
      right: -20px;
    }
  }
}
