.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 0 24px;

  & .title {
    color: $color-black;
    @include font-24-Bold;
  }

  & .content {
    display: flex;
    gap: 24px;
    position: relative;
    align-items: center;

    & .leftBtn,
    & .rightBtn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }

    & .leftBtn {
      left: -20px;
    }
    & .rightBtn {
      right: -20px;
    }
  }
}
