.container {
  display: flex;
  align-items: center;
  gap: 8px;

  & .content {
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.54);

    & .emoji {
      width: 16px;
    }

    & .count {
      @include font-16-Regular;
      color: $color-white;
    }
  }
}
