/* 카드프로필 */

.cardPost {
  position: relative;
  width: 24rem;
  height: 17.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background: $color-white;
  box-shadow: 0rem 0.2rem 1.2rem 0rem rgba(0, 0, 0, 0.08);
  border-radius: 1.6rem;
  cursor: pointer;

  @include desktop {
    width: 23rem;
    height: 17.5rem;
  }

  @include tablet {
    width: 22rem;
    height: 17.75rem;
  }

  // @include mobile {
  //   width: 25rem;
  //   height: 20.4rem;
  //   }

  .cardProfileBox {
    width: 22rem;
    height: 4.5rem;
    display: flex;
    margin-top: 1.75rem;
    padding: 0 1.5rem;
    justify-content: space-between;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;

    @include tablet {
      width: 22rem;
    }

    @include mobile {
      width: 24rem;
    }
  }

  .cardProfile {
    width: 17rem;
    display: flex;
    align-items: flex-start;
    gap: 0.86rem;
  }

  .cardImage {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: aqua;
    background: $color-white;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.38rem;
  }

  .cardName {
    display: flex;
    line-height: 2.4rem;
    @include font-20-Regular;
    color: $color-black;

    p {
      display: flex;
      column-gap: 0.38rem;

      .senderName {
        @include font-20-Bold;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }

  .cardBadge {
    border-radius: 4px;
    background: $color-purple-100;
    @include font-14-Regular;
    color: $color-purple-600;
  }

  /* 카드내용 */

  .cardContentBox {
    width: 20rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-top: 0.1rem solid $color-gray-200;

    .cardContent {
      height: 6.6rem;
      flex-shrink: 0;
      color: $color-gray-600;
      @include font-18-Regular;
      letter-spacing: -0.18px;
      text-align: start;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-align: left;
    }

    .cardDate {
      margin-top: 1rem;
      @include font-12-Regular;
      color: $color-gray-400;
    }
  }

  .deleteIcon {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.08rem;
    border-radius: 6px;
    border: 1px solid $color-gray-300;
    background: $color-white;
    cursor: pointer;
  }

  /* CardPlus 플러스 이미지 */
  .plusIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border-style: none;
    background-color: $color-gray-500;
    cursor: pointer;
  }
}

/* 카드리스트 */
.cardContainer {
  width: 75rem;
  margin: 15.4rem auto;
  padding-top: 5rem;

  @include desktop {
    width: 72rem;
  }

  @include tablet {
    width: 45rem;
  }

  @include mobile {
    width: 24rem;
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
}
