.header {
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include top;

  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 12px 4px;
  }

  .line {
    opacity: 0.3;
  }

  @include mobile {
    .topNav {
      display: none;
    }

    .line {
      display: none;
    }
  }
}

@media (max-width: 1248px) {
  .header {
    width: 100%;
    padding: 12px 24px;

    .topNav {
      width: 100%;
    }
  }
}
