header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  padding: 11px 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .btn {
    display: flex;
    height: 36px;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: $color-white;
  }
}
