.header {
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 11px 5px;
  }

  .line {
    opacity: 0.3;
  }
}

@media (max-width: 1248px) {
  .header {
    width: 100%;
    padding: 11px 24px;

    .topNav {
      width: 100%;
    }
  }
}
