.btn {
  display: flex;
  height: 36px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: $color-white;
}

.header {
  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 11px 5px;
    background-color: $color-white;
  }

  .line {
    opacity: 0.3;
  }

  .bottomNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0px;
    width: 1200px;
    margin: 0 auto;

    .section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;
      position: relative;
    }

    .toName {
      font-weight: 900;
      font-size: 26px;
      width: 200px;
    }

    .postNumbers {
      width: 150px;
    }

    .emoziBtns {
      display: flex;
      align-items: flex-start;
      gap: 8px;
    }

    .emoziBtn {
      display: flex;
      padding: 8px 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 32px;
      background: rgba(0, 0, 0, 0.54);
      color: $color-white;
    }

    .toggleBtn {
      width: 24x;
      height: 24px;
    }

    .toggleBox {
      border-radius: 8px;
      border: 1px solid #b6b6b6;
      background: $color-white;
      padding: 24px;
      z-index: 1000;
      display: none;
    }

    .showEmozi {
      position: absolute;
      padding: 24px;
      top: 50px;
      left: 100px;

      .row {
        display: flex;
        align-items: flex-start;
        gap: 8px;
      }

      :nth-child(2) {
        padding-top: 10px;
      }
    }

    .showShare {
      padding: 10px 0px;
      position: absolute;
      top: 50px;
      right: -105px;
      display: none;

      .shareBox {
        padding: 12px 16px;

        &:hover {
          background: #f6f6f6;
        }
      }
    }

    .line {
      width: 5px;
      height: 28px;
      border-left: 2px solid rgba($color: #000000, $alpha: 0.1);
    }

    .addEmoziBtn {
      display: flex;
      padding: 6px 16px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: 105px;
    }
  }
}

@media (max-width: 1248px) {
  .header {
    width: 100%;
    padding: 11px 24px;

    .topNav {
      width: 100%;
    }

    .bottomNav {
      width: 100%;
    }
  }
}
