.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 0 32px 48px;

  &::-webkit-scrollbar {
    display: none;
  }

  .buttonBg {
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.25) 25%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.75) 75%,
      rgba(255, 255, 255, 1) 100%
    );
    position: fixed;
    bottom: 0;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    z-index: 10;

    .myButton {
      // 봉찬님 border요소 default로 선언하는게 나을거같아요
      border: none;
      @include font-18-Bold;
    }
  }

  @include tablet {
    padding: 0 24px 48px 8px;

    .buttonBg {
      padding: 0;

      .myButton {
        width: 100%;
        margin: 24px;
      }
    }
  }

  @include mobile {
    padding: 0 24px 82px 12px;
    margin-top: 40px;
    gap: 72px;

    .buttonBg {
      padding: 0;

      .myButton {
        width: 100%;
        margin: 24px 20px;
        font-weight: 400;
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }
}
