.container {
  width: 100%;
  max-width: 1212px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  & .title {
    color: $color-black;
    @include font-24-Bold;
  }

  & .content {
    display: flex;
    column-gap: 20px;
    row-gap: 56px;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
  }

  .infinityScrollDiv {
    height: 10px;
  }

  @include mobile {
    padding: 0;
    padding-left: 12px;
    gap: 8px;

    & .title {
      @include font-20-Regular;
      font-weight: 600;
    }

    & .content {
      column-gap: 12px;
      row-gap: 72px;
    }
  }
}
