.button {
  cursor: pointer;
  background: $color-gray-500;
  border: none;
  outline: none;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;

  &:hover:enabled {
    background-color: $color-gray-600;
  }

  &:focus:enabled {
    background-color: $color-gray-800;
  }

  &:active:enabled {
    background-color: $color-gray-700;
  }

  &:disabled {
    background-color: $color-gray-300;
    cursor: not-allowed;
  }
}
