.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 200px;
  padding: 40px;
  gap: 16px;
}

.body {
  @include font-20-Bold;
}

.footer {
  display: flex;
  gap: 16px;
}
