.bottomNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0px;
  width: 1200px;
  margin: 0 auto;

  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    position: relative;
  }

  .toName {
    display: inline-block;
    font-weight: 900;
    font-size: 26px;
    width: 30vw;
    flex-shrink: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .imageCount1 {
    margin-right: 0px;
  }

  .imageCount2 {
    margin-right: 10px;
  }

  .imageCount3 {
    margin-right: 40px;
  }

  .profileImageContainer {
    display: flex;
    align-items: center;
    position: relative;

    & .visitorImage-1,
    .visitorImage-2,
    .visitorImage-3,
    .visitorCount {
      width: 32px;
      height: 32px;
      border-radius: 50px;
      border: 1.5px solid $color-white;
      background: $color-white;
    }

    & .visitorImage-1 {
      @include visitor_1;
    }

    & .visitorImage-2 {
      position: absolute;
      left: 16px;
      @include visitor_2;
    }

    & .visitorImage-3 {
      position: absolute;
      left: 32px;
      @include visitor_3;
    }

    & .visitorCount {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 48px;
      @include visitor_4;
      border: 1.5px solid $color-gray-300;
      @include font-14-Regular;
    }
  }

  .postNumbers {
    width: 150px;

    .countBold {
      font-weight: bold;
    }
  }

  .toggleBtn {
    width: 24x;
    height: 24px;
  }

  .emojiToggleBox {
    display: none;
    position: absolute;
    top: 50px;
    left: 200px;
  }

  .toggleBox {
    border-radius: 8px;
    border: 1px solid #b6b6b6;
    background: $color-white;
    padding: 24px;
    @include top;
    display: none;
  }

  .showShare {
    padding: 10px 0px;
    position: absolute;
    top: 50px;
    right: 0px;
    display: none;

    .shareBox {
      padding: 12px 16px;

      &:hover {
        background: #f6f6f6;
      }
    }
  }

  .line {
    width: 4px;
    height: 28px;
    border-left: 2px solid rgba($color: #000000, $alpha: 0.1);
  }

  .addEmojiBtn {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 105px;
  }

  @include mobile {
    flex-direction: column;
    justify-content: start;

    .profileImageContainer,
    .postNumbers,
    .line {
      display: none;
    }

    .toName {
      width: 80vw;
    }

    .firstSection {
      width: 100%;
      text-align: start;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }

    .secondSection {
      width: 70%;
      align-items: space-around;
      justify-content: space-around;
      padding-top: 16px;
    }
  }
}

@media (max-width: 1248px) {
  .bottomNav {
    width: 100%;
  }
}
