.hello {
  color: $color-white;
}

@include desktop {
  .hello {
    background-color: red;
  }
}

@include tablet {
  .hello {
    background-color: green;
  }
}

@include mobile {
  .hello {
    background-color: blue;
  }
}
